@{
    ViewBag.Title = "Prestamos";
    Uri baseUri = ViewBag.baseUri;
    Layout = "~/Views/Prestamos/_Layout_prestamo.cshtml";
}
@section scripts{


    <script type="text/javascript" src="~/Scripts/ngapp/dist/inline.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/ngapp/dist/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/ngapp/dist/styles.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/ngapp/dist/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/ngapp/dist/main.bundle.js"></script>

}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
<app-root>
    <img src="~/Images/ajax_loading.gif" /> Cargando, favor espere...
</app-root>

@section head{
    <base href="/Prestamos">
}
