<div class="row" ng-controller="listadoEmpleadosCtrl as vm" ng-cloak style="margin-top:25px;">
    @*<pre>{{vm.liqui | json}}</pre>*@
    <h3>Listado Empleados - cantidad: {{empleados.length}}</h3>
    <div class="col-md-12">
        <ul class="nav nav-tabs" style="margin-top:2px;">
            <li role="presentation" class="{{vm.menu.liqSalario.class}}">
                <a href="#" ng-click="vm.liqSalarioFn($event)">Liquidacion Salario</a>
            </li>
            <li role="presentation" class="{{vm.menu.liqAguinaldo.class}}">
                <a href="#" ng-click="vm.liqAguinaldoFn($event)">Liquidacion aguinaldo</a>
            </li>
        </ul>
        <div style="margin-top:25px;" ng-show="vm.menu.liqSalario.mostrar">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--#region Formulario para liquidacion de salario-->
                    <form class="form-horizontal" role="form" name="anticipoForm" ng-cloak>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div>
                                    <button ng-click="guardar()" ng-disabled="cantSeleccionados == 0" class="btn btn-danger">
                                        Generar Liquidacion de {{cantSeleccionados}} empleado<span ng-show="cantSeleccionados > 1">s</span>
                                    </button>
                                </div>
                                <div style="margin-top:20px;">
                                    <button ng-click="recuperarDetalles()" ng-disabled="cantSeleccionados == 0" class="btn btn-primary">
                                        Ver linquidaciones DEL MES SIN GENERAR de {{cantSeleccionados}} empleado<span ng-show="cantSeleccionados > 1">s</span>
                                    </button>
                                </div>
                                <div style="margin-top:20px;">
                                    <button ng-click="recuperarDetallesUnSoloEmpleado()" 
                                            ng-disabled="cantSeleccionados > 1 || cantSeleccionados == 0" 
                                            class="btn btn-primary">
                                        Ver linquidaciones correspondiente al año {{liqui.year}} <br/>  SIN GENERAR, de 1 solo empleado. 
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cargo" class="col-md-4 control-label">Mes</label>
                            <div class="col-md-6">
                                <select name="mes" required
                                        ng-model="liqui.mes"
                                        ng-options="r.nombreMes for r in meses" class="form-control"
                                        ng-required="true">
                                    <option value="" ng-hide="liqui.mes">Seleccione</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="year" class="col-md-4 control-label">Año</label>
                            <div class="col-md-6">
                                <select name="year" required
                                        ng-model="liqui.year"
                                        ng-options="r for r in years" class="form-control"
                                        ng-required="true">
                                    <option value="" ng-hide="liqui.year">Seleccione</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <!--#endregion-->
                </div>
            </div>
        </div>
        <div style="margin-top:25px;" ng-show="vm.menu.liqAguinaldo.mostrar">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!--#region Formulario para liquidacion de aguinaldo-->
                    <form class="form-horizontal" role="form" name="aguinaldoForm" ng-cloak>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button ng-click="generarLiqAguinaldo()" ng-disabled="cantSeleccionados == 0" class="btn btn-info">
                                    Generar Liquidacion aguinaldo de {{cantSeleccionados}} empleado<span ng-show="cantSeleccionados > 1">s</span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="year" class="col-md-4 control-label">Año</label>
                            <div class="col-md-6">
                                <select name="year" required
                                        ng-model="liqui.year"
                                        ng-options="r for r in years" class="form-control"
                                        ng-required="true">
                                    @*<option value="" ng-hide="vm.historicoSalario.year">Seleccione</option>*@
                                </select>
                            </div>
                        </div>
                    </form>
                    <!--#endregion-->
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th class="text-center">
                        Todo
                        <input id="input_SeleccionarTodo" ng-click="seleccionarTodo($event)" ng-model="varSeleccionarTodo" type="checkbox"> {{cantSeleccionados}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="o in empleados">
                    <td>{{o.empleadoID}}</td>
                    <td>
                        <img class="img-responsive img-thumbnail" ng-src="@Href("~/api/Imagenes")?empleadoID={{o.empleadoID}}&tipoImagenID=1" alt="Foto" style="max-height:50px;max-width:50px;" />

                    </td>
                    <td>
                        <a href="@Url.Action("Resumen","Empleados")/{{o.empleadoID}}">
                            {{o.nombres}} {{o.apellidos}}
                        </a>
                    </td>
                    <td class="text-center">
                        <input ng-model="o.seleccionadoSn" type="checkbox" ng-click="seleccionIndividual()" class="form-control">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @*<pre>{{mensaje | json}}</pre>
        <pre>{{liqui | json}}</pre>*@
    @*<pre>{{empleados | json}}</pre>*@
</div>