<div ng-controller="mensajesCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">Visor de sucesos</h3>
        </div>
    </div>
    <ul class="nav nav-tabs" style="margin-top:2px;">
        <li role="presentation" class="{{vm.menu.logs.class}}">
            <a href="#" ng-click="vm.logsFn($event)">Logs de sucesos</a>
        </li>
        <li role="presentation" class="{{vm.menu.detalleEmpleado.class}}">
            <a href="#" ng-click="vm.detalleEmpleadoFn($event)">Detalles empleado</a>
        </li>
    </ul>
    <div style="margin-top:25px;" ng-show="vm.menu.logs.mostrar">
        <h3>
            {{vm.mensaje.mensajeDelProceso}}
        </h3>
        <ul>
            <li ng-repeat="o in vm.logs.objetoDto track by $index">
                {{o}}
            </li>
        </ul>
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.detalleEmpleado.mostrar">
        @Html.Partial("Index/_Mensajes_Detalles")       
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.introduccion" class="text-center">
        <div class="alert alert-info">
            Ningun suceso realizado
        </div>
    </div>
</div>
@*////////////////////////////////////////////////////////////////////
    //////////////////////TEMPLETE DE LOS MODALES////////////////////////*@

<script type="text/ng-template" id="ModalMensajeModificacionPrestamo.html">
    <div class="modal-header">
        <h3 class="modal-title">{{objeto.mensaje}} {{objeto.id}}</h3>
        <p class="text-muted"></p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p>{{mensaje.mensajeDelProceso}}</p>
                <ul>
                    <li ng-repeat="m in mensaje.objetoDto">{{m}}</li>
                </ul>
            </div>
        </div>
        <div ng-show="respuesta.mensajeDelProceso != null" class="alert alert-info">
            {{respuesta.mensajeDelProceso}}
        </div>
        @*<pre>
            {{mensaje | json}}
            </pre>*@

    </div>
    <div class="modal-footer">
        <button class="btn btn-link" ng-click="cancel()" id="btn_cancelar">Salir</button>
        @*<button class="btn btn-primary" ng-click="ok()" id="btn_save">Eliminar</button>*@
    </div>
</script>