<div ng-controller="ControlVisoresCtrl as vm">
    <ul class="nav nav-tabs" style="margin-top:2px;">
        <li role="presentation" class="{{vm.menu.liquidacion.class}}">
            <a href="#" ng-click="vm.liquidacionFn($event)">LIQUIDACION</a>
        </li>
        <li role="presentation" class="{{vm.menu.aguinaldo.class}}">
            <a href="#" ng-click="vm.aguinaldoFn($event)">AGUINALDO</a>
        </li>
    </ul>
    <div style="margin-top:25px;" ng-show="vm.menu.liquidacion.mostrar">
        <!--#region VISOR DE LA PARTE LIQUIDACION SALARIO-->
        <div ng-controller="mensajesCtrl as vm">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Visor de sucesos Liquidacion salario</h3>
                </div>
            </div>
            <ul class="nav nav-tabs" style="margin-top:2px;">
                <li role="presentation" class="{{vm.menu.logs.class}}">
                    <a href="#" ng-click="vm.logsFn($event)">Logs de sucesos</a>
                </li>
                <li role="presentation" class="{{vm.menu.detalleEmpleado.class}}">
                    <a href="#" ng-click="vm.detalleEmpleadoFn($event)">Detalles empleado</a>
                </li>
            </ul>
            <div style="margin-top:25px;" ng-show="vm.menu.logs.mostrar">
                <h3>
                    {{vm.mensaje.mensajeDelProceso}}
                </h3>
                <ul>
                    <li ng-repeat="o in vm.logs.objetoDto track by $index">
                        {{o}}
                    </li>
                </ul>
            </div>
            <div style="margin-top:25px;" ng-show="vm.menu.detalleEmpleado.mostrar">
                @Html.Partial("Index/_Mensajes_Detalles")
            </div>
            <div style="margin-top:25px;" ng-show="vm.menu.introduccion" class="text-center">
                <div class="alert alert-info">
                    Ningun suceso realizado
                </div>
            </div>
        </div>
        <!--#endregion-->
    </div>
    <div style="margin-top:25px;" ng-show="vm.menu.aguinaldo.mostrar">
        <!--#region VISOR DE LA PARTE LIQUIDACION AGUINALDO-->
        <div ng-controller="mensajesAguinaldoCtrl as vm">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Visor de sucesos Liquidacion Aguinaldo</h3>
                </div>
            </div>
            <ul class="nav nav-tabs" style="margin-top:2px;">
                <li role="presentation" class="{{vm.menu.logs.class}}">
                    <a href="#" ng-click="vm.logsFn($event)">Logs de sucesos</a>
                </li>
                <li role="presentation" class="{{vm.menu.detalleEmpleado.class}}">
                    <a href="#" ng-click="vm.detalleEmpleadoFn($event)">Detalles empleado</a>
                </li>
            </ul>
            <div style="margin-top:25px;" ng-show="vm.menu.logs.mostrar">
                <ul>
                    <li ng-repeat="a in vm.logsAguinaldo.objetoDto">
                        {{a.mensajeString}}
                    </li>
                </ul>
                @*<pre>{{vm.logsAguinaldo | json}}</pre>*@
            </div>
            <div style="margin-top:25px;" ng-show="vm.menu.detalleEmpleado.mostrar">
                <div class="row">
                    <div class="col-md-6">
                        <pre>{{vm.aguinaldosPorMes.mensajeDelProceso}}</pre>
                    </div>
                    <div class="col-md-6">
                        <form method="post" action="@Url.Action("ImpresionLiqAguinaldo", "LiquidacionSalarios")" target="_blank">
                            <input type="hidden" value="" id="jsonInputAguinaldo" name="jsonInput" />
                            <button type="submit" class="btn btn-default">Imprimir recibo de Aguinaldo</button>
                        </form>
                        <form method="post" 
                              action="@Url.Action("ImpresionLiqAguinaldoReporte", "LiquidacionSalarios")" 
                              target="_blank">
                            <input type="hidden" value="" id="jsonInputAguinaldoReporte" name="jsonInput" />
                            <button type="submit" class="btn btn-default">Imprimir reporte de Aguinaldo</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tr style="font-size:12px;">
                                <th>Mov</th>
                                <th>Empleado/Mes</th>
                                <th ng-repeat="m in vm.aguinaldosPorMes.objetoDto[0].meses">
                                    {{m.numero}}
                                </th>
                                <th>Total Cobrado</th>
                                <th>Aguinaldo</th>
                            </tr>
                            <tr ng-repeat="a in vm.aguinaldosPorMes.objetoDto" style="font-size:10px;">
                                <th>{{a.movEmpleadoID}}</th>
                                <th>{{a.empleado.nombres}}</th>
                                <th ng-repeat="m in a.meses">
                                    {{m.monto | currency:"":0}}
                                </th>
                                <th>{{a.totalCobrado  | currency:"":0}}</th>
                                <th>{{a.aguinaldo | currency:"":0}}</th>
                            </tr>
                        </table>
                    </div>
                </div>
                @*<pre>{{ vm.aguinaldosPorMes | json}}</pre>*@
            </div>
        </div>
        <!--#endregion-->
    </div>
</div>
@*////////////////////////////////////////////////////////////////////
    //////////////////////TEMPLETE DE LOS MODALES////////////////////////*@
<!--#region MODALES DE LIQUIDACION DE SALARIOS-->
<script type="text/ng-template" id="ModalMensajeModificacionPrestamo.html">
    <div class="modal-header">
        <h3 class="modal-title">{{objeto.mensaje}} {{objeto.id}}</h3>
        <p class="text-muted"></p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <p>{{mensaje.mensajeDelProceso}}</p>
                <ul>
                    <li ng-repeat="m in mensaje.objetoDto">{{m}}</li>
                </ul>
            </div>
        </div>
        <div ng-show="respuesta.mensajeDelProceso != null" class="alert alert-info">
            {{respuesta.mensajeDelProceso}}
        </div>
        @*<pre>
            {{mensaje | json}}
            </pre>*@

    </div>
    <div class="modal-footer">
        <button class="btn btn-link" ng-click="cancel()" id="btn_cancelar">Salir</button>
        @*<button class="btn btn-primary" ng-click="ok()" id="btn_save">Eliminar</button>*@
    </div>
</script>

<script type="text/ng-template" id="ModalEliminarLiquidacion.html">
    <div class="modal-header">
        <h3 class="modal-title">{{objeto.mensaje}} {{objeto.id}}</h3>
        <p class="text-muted"></p>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-condensed">
            <tr>
                <th colspan="5">
                    Numero de liquidacion de sueldo: {{movimiento.movEmpleadoID}}
                </th>
            </tr>
            <tr>
                <th colspan="5">Fecha la generacion de la liquidacion: {{movimiento.fechaMovimiento | date:"dd/MM/yyyy"}}</th>
            </tr>
            <tr class="titulo_resaltado">
                <th>Empleado</th>
                <th>Concepto</th>
                <th>Debito</th>
                <th>Credito</th>
                <th>Mes de aplicacion</th>
            </tr>
            <tr ng-repeat="d in movimiento.movEmpleadosDets" ">
                <td>{{d.empleado.nombres}} {{d.empleado.apellidos}} ({{d.empleado.empleadoID}})</td>
                <td>
                    {{d.liquidacionConcepto.nombreConcepto}}
                </td>
                <td class="text-right">
                    <input value="{{d.debito}}" type="text" size="10" ng-model="d.debito" ng-show="d.editarMontoSn" class="text-center" />
                    <input class="btn btn-default btn-sm" type="button" value="Ok" ng-show="d.editarMontoSn" ng-click="modificarPrestamo(d)">
                    <span ng-hide="d.editarMontoSn">{{d.debito | currency:"":0}}</span>
                </td>
                <td class="text-right">{{d.credito | currency:"":0}}</td>
                <td>{{d.mesAplicacion | date:"MMMM/yyyy":'UTC'}}</td>
            </tr>
        </table>
        @*<pre>{{movimiento | json}}</pre>*@
        <div ng-show="respuesta.mensajeDelProceso != null" class="alert alert-info">
            {{respuesta.mensajeDelProceso}}
        </div>
        @*<pre>
            {{mensaje | json}}
            </pre>*@

    </div>
    <div class="modal-footer">
        <button class="btn btn-link" ng-click="cancel()" id="btn_cancelar">Salir</button>
        <button class="btn btn-primary" ng-click="eliminar()" id="btn_save">Eliminar</button>
    </div>
</script>

<script type="text/ng-template" id="ModalVerDetallePrestamo.html">
    <div class="modal-header">
        <h3 class="modal-title">{{objeto.mensaje}} {{respuesta.prestamoSimple.prestamoSimpleID}}</h3>
        <p class="text-muted"></p>
    </div>
    <div class="modal-body">

        <h3 class="text-center">Movimiento: {{objeto.id}}</h3>
        <div class="row">
            <div class="col-md-4">
                <table>
                    <tr>
                        <th>Primer vencimiento:</th>
                        <td>{{respuesta.prestamoSimple.fecha1erVencimiento | date:"dd/MM/yyyy":"UTC"}}</td>
                    </tr>
                    <tr>
                        <th>Monto del prestamo: </th>
                        <td>{{respuesta.prestamoSimple.monto | currency:"":0}}</td>
                    </tr>
                    <tr>
                        <th>Cantidad de cuotas:</th>
                        <td>{{respuesta.prestamoSimple.cuotas}}</td>
                    </tr>
                    <tr>
                        <th>Observacion:</th>
                        <td>{{respuesta.prestamoSimple.observacion}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-8">
                <table class="table table-bordered table-condensed table-hover table-striped">
                    <caption>
                        Fecha movimiento: {{respuesta.movimientoEmpleado.fechaMovimiento  | date:"dd/MM/yyyy":"UTC"}} Descripcion: {{respuesta.movimientoEmpleado.descripcion}}
                    </caption>
                    <tr>
                        <th>Mes aplicacion</th>
                        <th>Monto</th>
                    </tr>
                    <tr ng-repeat="d in respuesta.movimientoEmpleado.movEmpleadosDets"
                        ng-class="getClassCuotaDeLaLiquidacion(d.movEmpleadoDetID)">
                        <td>{{d.mesAplicacion | date:"MMMM/yyyy":"UTC"}}</td>
                        <td>{{d.debito | currency:"":0}}</td>
                    </tr>
                </table>
            </div>
        </div>
        @*<pre>{{movimiento | json}}</pre>*@
        @*<pre>{{respuesta | json}}</pre>*@
        <div ng-show="respuesta.mensajeDelProceso != null" class="alert alert-info">
            {{respuesta.mensajeDelProceso}}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-link" ng-click="cancel()" id="btn_cancelar">Salir</button>
        @*<button class="btn btn-primary" ng-click="ok()" id="btn_save">Eliminar</button>*@
    </div>
</script>
<!--#endregion-->