<form #formEmpleados="ngForm" class="form-horizontal" (submit)="submitFormEmpleados(formEmpleados)" role="form">
  <div class="input-group">
    <div class="input-group-addon">Nombres</div>
    <input type="text" name="Nombres" style="width:150px" class="form-control" placeholder="Nombres" [(ngModel)]="empleado.nombres"
      #nombres="ngModel" autocomplete="off" required>
  </div>
  <div *ngIf="nombres.invalid && nombres.dirty" class="alert alert-danger">
    Los nombres son obligatorios
  </div>
  <div class="input-group">
    <div class="input-group-addon">Apellidos</div>
    <input type="text" name="Apellidos" style="width:150px" class="form-control" placeholder="Apellidos" [(ngModel)]="empleado.apellidos"
      #apellidos="ngModel" autocomplete="off" required>
  </div>
  <div *ngIf="nombres.invalid && nombres.dirty" class="alert alert-danger">
    Los nombres son obligatorios
  </div>

  <div class="input-group">
    <div class="input-group-addon">Fecha Nacimiento:</div>
    <p-calendar [(ngModel)]="empleado.fechaNacimiento" #fechaNacimiento="ngModel" dateFormat="dd/mm/yy" name="fechaNacimiento"
      [locale]="es" placeholder="dd/mm/aaaa" [inputStyle]="{'width':'150px'}" timezone="utc" required>
    </p-calendar>
  </div>
  <div *ngIf="fechaNacimiento.invalid && fechaNacimiento.dirty" class="alert alert-danger">
    La fecha de nacimiento es obligatoria
  </div>
  <div class="input-group">
    <div class="input-group-addon">Sexo</div>
    <select #formaDePago="ngModel" name="sexo" class="form-control" [(ngModel)]="empleado.sexo" style="width:150px" required>
      <option value="1">Masculino</option>
      <option value="2">Femenino</option>
    </select>
  </div>
  <div class="input-group">
    <div class="input-group-addon">Nro Cedula</div>
    <input type="text" name="nroCedula" style="width:150px" class="form-control" placeholder="Nro Cedula" [(ngModel)]="empleado.nroCedula"
      #nroCedula="ngModel" autocomplete="off" required>
  </div>
  <div *ngIf="nroCedula.invalid && nroCedula.dirty" class="alert alert-danger">
    El numero de cedula es obligatorio
  </div>
  <div class="input-group">
    <div class="input-group-addon">Profesion</div>
    <select #profesione="ngModel" name="profesione" style="width:160px" class="form-control" [(ngModel)]="empleado.profesione"
      required>
      <option [ngValue]="p" *ngFor="let p of profesiones; let idx = index">
        {{p.nombreProfesion}}
      </option>
    </select>
  </div>
  <div class="input-group">
    <div class="input-group-addon">Cantidad de hijos</div>
    <input type="text" name="CantidadHijos" style="width:150px" class="form-control" placeholder="Cantidad Hijos" [(ngModel)]="empleado.cantidadHijos"
      #cantidadHijos="ngModel" autocomplete="off" required>
  </div>
  <div *ngIf="cantidadHijos.invalid && cantidadHijos.dirty" class="alert alert-danger">
    La cantidad de hijos es obligatoria
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="formEmpleados.invalid">
      <span *ngIf="empleado.empleadoID === 0">Cargar</span>
      <span *ngIf="empleado.empleadoID !== 0">Editar</span>
    </button>
    <button type="submit" class="btn btn-danger" *ngIf="!formEmpleados.invalid" (click)="nuevaCarga(formEmpleados);">
      nueva carga
    </button>
</form>
<!-- <pre>{{profesiones | json}}</pre> -->
<pre>{{empleado | json}}</pre>