@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script src="~/Scripts/Home/Index/Services/common.services.js"></script>
}
<div class="row">
    <div class="col-md-4">
        @Html.Partial("Index/_FormCargaEmpleado")
    </div>
    <div class="col-md-8">
        @Html.Partial("Index/_ListadoEmpleados")
    </div>
</div>