<div class="panel panel-info">
    <div class="panel-heading">Prestamos/Aguinaldos</div>
    <div class="panel-body" ng-controller="listadoPrestamoCtrl as vm">
        <form class="form-horizontal" role="form" name="listadoPrestamoForm" ng-cloak>
            <div class="form-group">
                <label for="cargo" class="col-md-4 control-label">Mes</label>
                <div class="col-md-8">
                    <select name="mes" required
                            ng-model="vm.listadoPrestamo.mes"
                            ng-options="r.nombreMes for r in vm.meses" class="form-control"
                            ng-required="true">
                        <!--<option value="">-- Seleccione el concepto --</option>-->
                        <option value="" ng-hide="vm.listadoPrestamo.mes">Seleccione</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="year" class="col-md-4 control-label">Año</label>
                <div class="col-md-8">
                    <select name="year" required
                            ng-model="vm.listadoPrestamo.year"
                            ng-options="r for r in vm.years" class="form-control"
                            ng-required="true">
                        <!--<option value="">-- Seleccione el concepto --</option>-->
                        <option value="" ng-hide="vm.listadoPrestamo.year">Seleccione</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="empresa" class="col-md-4 control-label">Empresa</label>
                <div class="col-md-8">
                    <select name="empresa" required
                            ng-model="vm.listadoPrestamo.empresa"
                            ng-options="r.nombreEmpresa for r in vm.empresas" class="form-control"
                            ng-required="true">
                        <!--<option value="">-- Seleccione el concepto --</option>-->
                        <option value="" ng-hide="vm.listadoPrestamo.empresa">Seleccione Empresa</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="sucursale" class="col-md-4 control-label">Sucursal</label>
                <div class="col-md-8">
                    <select name="sucursales" required
                            ng-model="vm.listadoPrestamo.sucursales"
                            ng-options="r.nombreSucursal for r in vm.sucursales" class="form-control"
                            multiple
                            ng-required="true">
                        <!--<option value="">-- Seleccione el concepto --</option>-->
                        <option value="" ng-hide="vm.listadoPrestamo.sucursale">Seleccione Sucursal</option>
                    </select>
                </div>
            </div>
        </form>
        <form method="post" action="@Url.Action("ListadoPrestamos","Informes")" target="_blank">
            <input type="hidden" id="jsonInput" name="jsonInput" />
            <button type="submit" ng-disabled="listadoPrestamoForm.$invalid" class="btn btn-default">Generar Informe de prestamos</button>
        </form>
        <form method="post" action="@Url.Action("PlanillaAguinaldos", "Informes")" target="_blank">
            <input type="hidden" id="jsonInputAguinaldo" name="jsonInput" />
            <button type="submit" ng-disabled="listadoPrestamoForm.$invalid" class="btn btn-default">Generar Planilla de aguinaldo</button>
        </form>
        @*<pre>{{vm.listadoPrestamo | json}}</pre>*@
    </div>
</div>