<div class="panel panel-info">
    <div class="panel-heading">Planilla de Salarios</div>
    <div class="panel-body" ng-controller="planillaSalarioCtrl as vm">
        <form class="form-horizontal" role="form" name="planillaSalarioForm" ng-cloak>
            <div class="form-group">
                <label for="mes" class="col-md-4 control-label">Mes</label>
                <div class="col-md-8">
                    <select name="mes" required
                            ng-model="vm.planillaSalario.mes"
                            ng-options="r.nombreMes for r in vm.meses" class="form-control"
                            ng-required="true">
                        <!--<option value="">-- Seleccione el concepto --</option>-->
                        <option value="" ng-hide="vm.planillaSalario.mes">Seleccione</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="year" class="col-md-4 control-label">Año</label>
                <div class="col-md-8">
                    <select name="year" required
                            ng-model="vm.planillaSalario.year"
                            ng-options="r for r in vm.years" class="form-control"
                            ng-required="true">
                        <!--<option value="">-- Seleccione el concepto --</option>-->
                        <option value="" ng-hide="vm.planillaSalario.year">Seleccione</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="empresa" class="col-md-4 control-label">Empresa</label>
                <div class="col-md-8">
                    <select name="empresa" required
                            ng-model="vm.planillaSalario.empresa"
                            ng-options="r.nombreEmpresa for r in vm.empresas" class="form-control"
                            ng-required="true">
                        <!--<option value="">-- Seleccione el concepto --</option>-->
                        <option value="" ng-hide="vm.planillaSalario.empresa">Seleccione Empresa</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="sucursale" class="col-md-4 control-label">Sucursal</label>
                <div class="col-md-8">
                    <select name="sucursale" required
                            ng-model="vm.planillaSalario.sucursales"
                            ng-options="r.nombreSucursal for r in vm.sucursales" class="form-control"
                            multiple
                            ng-required="true">
                        <!--<option value="">-- Seleccione el concepto --</option>-->
                        <option value="" ng-hide="vm.planillaSalario.sucursales">Seleccione Sucursal</option>
                    </select>
                </div>
            </div>
        </form>
        <form method="post" action="@Url.Action("PlanillaSalarios","Informes")" target="_blank">
            <input type="hidden" value="" id="jsonInputPlanillaSalarios" name="jsonInputPlanillaSalarios" />
            <button type="submit" ng-disabled="planillaSalarioForm.$invalid" class="btn btn-default">Generar Informe</button>
        </form>
        @*<pre>{{vm.planillaSalario | json}}</pre>*@
    </div>
</div>