
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Cargar Cargos</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-controller="cargosCtrl as vm" name="cargosForm" ng-cloak>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="nombreCargo" class="col-md-5 control-label">Nombre</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="vm.cargo.nombreCargo" name="nombreCargo" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="abreviatura" class="col-md-5 control-label">Abreviatura</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="vm.cargo.abreviatura" name="abreviatura" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button ng-click="vm.guardar()" ng-disabled="cargosForm.$invalid" class="btn btn-default">
                                    <span ng-show="vm.cargo.cargoID == null">Cargar</span>
                                    <span ng-show="vm.cargo.cargoID != null">Editar Cargo ID: {{vm.cargo.cargoID}}</span>
                                </button>
                                <button ng-click="vm.nuevoParaCargar()" class="btn btn-default">
                                    Nuevo
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">Aviso</div>
                                <div class="panel-body">
                                    {{vm.mensajeDelServidor}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <pre>
{{vm.cargo | json}}
</pre>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h2>Listado Cargos</h2>
        <div class="row" ng-controller="listadoCargosCtrl as vm" ng-cloak style="margin-top:25px;">
            <div class="col-md-12">
                <table class="table table-condensed table-bordered table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Acciones</th>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Abreviatura</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="o in vm.cargos">
                        <td><button title="Actualizar" class="btn btn-warning btn-sm" ng-click="vm.actualizar(o)"> <i class="glyphicon glyphicon-edit" /></button></td>
                        <td><button title="Eliminar" class="btn btn-danger btn-sm" ng-click="vm.eliminar(o)"><i class=" glyphicon glyphicon-remove" /></button></td>
                        <td>{{o.cargoID}}</td>
                        <td>{{o.nombreCargo}}</td>
                        <td>{{o.abreviatura}}</td>
                    </tr>
                </table>
            </div>
            <pre>{{vm.cargos | json}}</pre>
        </div>
    </div>
</div>
