<div class="row">
    <form class="form-horizontal" role="form" ng-controller="empresasCtrl as vm" name="empresasForm" ng-cloak>
        <div class="col-md-6">
            <div class="form-group">
                <label for="nombreEmpresa" class="col-md-5 control-label">Nombre Empresa</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" ng-model="vm.empresa.nombreEmpresa" name="nombreEmpresa" ng-required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="descripcion" class="col-md-5 control-label">Descripcion</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" ng-model="vm.empresa.descripcion" name="descripcion" ng-required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="abreviatura" class="col-md-5 control-label">Abreviatura</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" ng-model="vm.empresa.abreviatura" name="abreviatura" ng-required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="ruc" class="col-md-5 control-label">Ruc</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" ng-model="vm.empresa.ruc" name="ruc" ng-required="true">
                </div>
            </div>
            <div class="col-md-7 col-md-offset-5">
                <button ng-click="vm.guardar()" ng-disabled="empresasForm.$invalid" class="btn btn-default">
                    <span ng-show="vm.empresa.empresaID == null">Cargar</span>
                    <span ng-show="vm.empresa.empresaID != null">Editar</span>
                </button>
                <button ng-click="vm.nuevoParaCargar()" class="btn btn-default">
                    Nuevo
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Aviso</div>
                <div class="panel-body">
                    {{vm.mensajeDelServidor}}
                </div>
            </div>
            @*<pre>{{vm.empresa | json}}</pre>*@
        </div>
    </form>
</div>
<h2>Listado Empresas</h2>
<div class="row" ng-controller="listadoEmpresasCtrl as vm" ng-cloak style="margin-top:25px;">
    <div class="col-md-12">
        <table class="table table-condensed table-bordered table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2">Acciones</th>
                    <th>Id</th>
                    <th>Nombre Empresa</th>
                    <th>Descripcion</th>
                    <th>Abreviatura</th>
                    <th>Ruc</th>
                </tr>
            </thead>
            <tr ng-repeat="o in vm.empresas">
                <td><button title="Actualizar" class="btn btn-warning btn-sm" ng-click="vm.actualizar(o)"> <i class="glyphicon glyphicon-edit" /></button></td>
                <td><button title="Eliminar" class="btn btn-danger btn-sm" ng-click="vm.eliminar(o)"><i class=" glyphicon glyphicon-remove" /></button></td>
                <td>{{o.empresaID}}</td>
                <td>{{o.nombreEmpresa}}</td>
                <td>{{o.descripcion}}</td>
                <td>{{o.abreviatura}}</td>
                <td>{{o.ruc}}</td>
            </tr>
        </table>
        @*<pre>
            {{vm.empresas | json}}
            </pre>*@
    </div>
</div>

@*////////////////////////////////////////////////////////////////////
    //////////////////////TEMPLETE DE LOS MODALES////////////////////////*@

<script type="text/ng-template" id="ModalEliminacion.html">
    <div class="modal-header">
        <h3 class="modal-title">{{objeto.mensaje}} {{objeto.id}}</h3>
        <p class="text-muted">Esta seguro?</p>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <tr>
                <th>Empresa</th>
                <td>{{empresa.nombreEmpresa}}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{empresa.descripcion}}</td>
            </tr>
            <tr>
                <th>Abreviatura</th>
                <td>{{empresa.abreviatura}}</td>
            </tr>
            <tr>
                <th>RUC</th>
                <td>{{empresa.ruc}}</td>
            </tr>
        </table>
        <div ng-show="respuesta.mensajeDelProceso != null" class="alert alert-info">
            {{respuesta.mensajeDelProceso}}
        </div>
        @*<pre>
{{empresa | json}}
</pre>*@

    </div>
    <div class="modal-footer">
        <button class="btn btn-link" ng-click="cancel()" id="btn_cancelar">Salir</button>
        <button class="btn btn-primary" ng-click="ok()" id="btn_save">Eliminar</button>
    </div>
</script>
