<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Carga Nacionalidades</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-controller="nacionalidadesCtrl as vm" name="nacionalidadesForm" ng-cloak>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="id" class="col-md-5 control-label">ID</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="vm.nacionalidade.nacionalidadID" name="nacionalidadID" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nombreNacionalidad" class="col-md-5 control-label">Nombre</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="vm.nacionalidade.nombreNacionalidad" name="nombreNacionalidad" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="abreviatura" class="col-md-5 control-label">Abreviatura</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="vm.nacionalidade.abreviatura" name="abreviatura" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button ng-click="vm.guardar()" ng-disabled="nacionalidadesForm.$invalid" class="btn btn-default">
                                    <span ng-show="vm.nacionalidade.cargarSn == true">Cargar</span>
                                    <span ng-show="vm.nacionalidade.cargarSn == false">Editar Nacionalidad ID: {{vm.sucursale.sucursalID}}</span>
                                </button>
                                <button ng-click="vm.nuevoParaCargar()" class="btn btn-default">
                                    Nuevo
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">Aviso</div>
                                <div class="panel-body">
                                    {{vm.mensajeDelServidor}}
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<pre>
{{vm.nacionalidade | json}}
</pre>*@
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h2>Listado de las nacionalidades</h2>
        <div class="row" ng-controller="listadoNacionalidadesCtrl as vm" ng-cloak style="margin-top:25px;">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Acciones</th>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Abreviatura</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="o in nacionalidades">
                            <td><button title="Actualizar" class="btn btn-warning btn-sm" ng-click="vm.actualizar(o)"> <i class="glyphicon glyphicon-edit" /></button></td>
                            <td><button title="Eliminar" class="btn btn-danger btn-sm" ng-click="vm.eliminar(o)"><i class=" glyphicon glyphicon-remove" /></button></td>
                            <td>{{o.nacionalidadID}}</td>
                            <td>{{o.nombreNacionalidad}}</td>
                            <td>{{o.abreviatura}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
