<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Cargar Cargos</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-controller="usuariosCtrl as vm" name="usuariosForm" ng-cloak>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="nombreUsuario" class="col-md-5 control-label">Nombre</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="vm.usuario.nombreUsuario" name="nombreUsuario" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="correoElectronico" class="col-md-5 control-label">Correo Electronico</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="vm.usuario.correoElectronico" name="correoElectronico" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button ng-click="vm.guardar()" ng-disabled="usuariosForm.$invalid" class="btn btn-default">
                                    <span ng-show="vm.usuario.usuarioID == null">Cargar</span>
                                    <span ng-show="vm.usuario.usuarioID != null">Editar Usuario ID: {{vm.usuario.usuarioID}}</span>
                                </button>
                                <button ng-click="vm.nuevoParaCargar()" class="btn btn-default">
                                    Nuevo
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">Aviso</div>
                                <div class="panel-body">
                                    {{vm.mensajeDelServidor}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <pre>{{vm.usuario | json}}</pre>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">

    </div>
</div>
