<div class="row">
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Cargar Usuario</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-controller="usuariosCtrl as vm" name="usuariosForm" ng-cloak>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="nombreUsuario" class="col-md-5 control-label">Nombre</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="vm.usuario.nombreUsuario" name="nombreUsuario" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="correoElectronico" class="col-md-5 control-label">Correo Electronico</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" ng-model="vm.usuario.correoElectronico" name="correoElectronico" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button ng-click="vm.guardar()" ng-disabled="usuariosForm.$invalid" class="btn btn-default">
                                    <span ng-show="vm.usuario.usuarioID == null">Cargar</span>
                                    <span ng-show="vm.usuario.usuarioID != null">Editar Usuario ID: {{vm.usuario.usuarioID}}</span>
                                </button>
                                <button ng-click="vm.nuevoParaCargar()" class="btn btn-default">
                                    Nuevo
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">Aviso</div>
                                <div class="panel-body">
                                    {{vm.mensajeDelServidor}}
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<pre>{{vm.usuario | json}}</pre>*@
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <h2>Listado de Usuarios</h2>
        <div class="row" ng-controller="listadoUsuariosCtrl as vm" ng-cloak style="margin-top:25px;">
            <div class="col-md-12">
                <table class="table table-bordered table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th colspan="2">Acciones</th>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Correo</th>                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="o in vm.usuarios">
                            <td><button title="Actualizar" class="btn btn-warning btn-sm" ng-click="vm.actualizar(o)"> <i class="glyphicon glyphicon-edit" /></button></td>
                            <td><button title="Eliminar" class="btn btn-danger btn-sm" ng-click="vm.eliminar(o)"><i class=" glyphicon glyphicon-remove" /></button></td>
                            <td>{{o.usuarioID}}</td>
                            <td>{{o.nombreUsuario}}</td>
                            <td>{{o.correoElectronico}}</td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
            @*<pre>{{vm.profesiones | json}}</pre>*@
        </div>
    </div>
</div>
@*////////////////////////////////////////////////////////////////////
    //////////////////////TEMPLETE DE LOS MODALES////////////////////////*@

<script type="text/ng-template" id="ModalEliminacionUsuario.html">
    <div class="modal-header">
        <h3 class="modal-title">{{objeto.mensaje}} {{objeto.id}}</h3>
        <p class="text-muted">Esta seguro?</p>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <tr>
                <th>Nombre</th>
                <td>{{usuario.usuarioID}}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{usuario.correoElectronico}}</td>
            </tr>            
        </table>
        <div ng-show="respuesta.mensajeDelProceso != null" class="alert alert-info">
            {{respuesta.mensajeDelProceso}}
        </div>
        @*<pre>
            {{empresa | json}}
            </pre>*@

    </div>
    <div class="modal-footer">
        <button class="btn btn-link" ng-click="cancel()" id="btn_cancelar">Salir</button>
        <button class="btn btn-primary" ng-click="ok()" id="btn_save">Eliminar</button>
    </div>
</script>
