<div *ngIf="empleadoSelect">
  <h1 style="margin-bottom: 1px;margin-top: 1px;">
    {{empleadoSelect.nombres}} {{empleadoSelect.apellidos}}
    <span class="badge"> {{empleadoSelect.edad}} años</span>
  </h1>
  <h3 style="margin-bottom: 1px;margin-top: 1px;">
    Cedula: {{empleadoSelect.nroCedula | number}} - {{empleadoSelect.estadoCivile.nombreEstadoCivil}} - {{empleadoSelect.nacionalidade.nombreNacionalidad}}
  </h3>
  <h2 style="margin-bottom: 1px;margin-top: 1px;">
    {{empleadoSelect.cargo.nombreCargo}} {{empleadoSelect.sucursale.nombreSucursal}}
  </h2>
</div>
<hr/>
<div *ngIf="prestamosSimplesDto.length > 0">
 
</div>

<!--<pre>
    {{prestamosSimplesDto | json}}
    </pre>-->