<div style="margin:5px">
  <nav class='navbar navbar-inverse'>
    <div class='container-fluid'>
      <a class='navbar-brand'>{{title}}</a>
      <ul class='nav navbar-nav'>
        <li routerLinkActive="active textoEspecial"><a [routerLink]="['/inicio']">Comisarios</a></li>    
        <li routerLinkActive="active textoEspecial"><a [routerLink]="['/empleados']">Empleados</a></li>              
      </ul>
    </div>
  </nav>
  <div class='container-fluid'>
    <router-outlet></router-outlet>
  </div>
</div>