<style type="text/css">
    .form-group {
        margin-bottom: 1px;
    }
</style>
<div class="panel panel-primary">
    <div class="panel-heading">
        Cargar de Empleado       
        <button title="Ocultar Formulario" ng-click="ocultarFormCargarEmpleado()" class="bottom pull-right"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form" ng-controller="empleadoCtrl" name="empleadoForm" ng-cloak>
            <div class="form-group">
                <label for="nombres" class="col-md-4 control-label">Nombres</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="empleado.nombres" name="nombres" ng-required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="apellidos" class="col-md-4 control-label">Apellidos</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="empleado.apellidos" name="apellidos" ng-required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="fechaNacimiento" class="col-md-4 control-label">Fecha Nacimiento</label>
                <div class="col-sm-8">
                    <p class="input-group">
                        <input type="date" id="fechaNacimiento"
                               name="fechaNacimiento"
                               class="form-control"
                               ng-model="empleado.fechaNacimiento"
                               ng-required="true" />
                    </p>
                    <div style="color:red" ng-show="empleadoForm.fechaNacimiento.$dirty && empleadoForm.fechaNacimiento.$invalid">
                        <span ng-show="empleadoForm.fechaNacimiento.$error.date">No es un formato valido</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="sexo" class="col-md-4 control-label">Sexo</label>
                <div class="col-md-8">
                    <select name="sexo" required
                            ng-model="empleado.sexo"
                            ng-options="r.nombreSexo for r in sexos" class="form-control"
                            ng-required="true"
                            class="form-control">
                        <!--<option value="">-- Seleccione el concepto --</option>-->
                        <option value="" ng-hide="empleado.sexo">Seleccione Sexo</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="nroCedula" class="col-md-4 control-label">Nro Cedula</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="empleado.nroCedula" name="nroCedula" ng-required="true">
                </div>
            </div>
            <div class="form-group">
                <label for="estadoCivil" class="col-md-4 control-label">Estado Civil</label>
                <div class="col-md-8">
                    <select name="sexo" required
                            ng-model="empleado.estadoCivile"
                            ng-options="r.nombreEstadoCivil for r in estadosCiviles" class="form-control"
                            ng-required="true"
                            class="form-control">
                        <!--<option value="">-- Seleccione el concepto --</option>-->
                        <option value="" ng-hide="empleado.estadoCivil">Seleccione Estado Civil</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="nacionalidad" class="col-md-4 control-label">Nacionalidad</label>
                <div class="col-md-8">
                    <select name="nacionalidad" required
                            ng-model="empleado.nacionalidade"
                            ng-options="r.nombreNacionalidad for r in nacionalidades" class="form-control"
                            ng-required="true"
                            class="form-control">
                        <!--<option value="">-- Seleccione el concepto --</option>-->
                        <option value="" ng-hide="empleado.nacionalidade">Seleccione Nacionalidad</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="numeroMjt" class="col-md-4 control-label">Numero Mjt</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="empleado.numeroMjt" name="numeroMjt" ng-required="false">
                </div>
            </div>
            <div class="form-group">
                <label for="profesione" class="col-md-4 control-label">Profesion</label>
                <div class="col-md-8">
                    <select name="profesione" required
                            ng-model="empleado.profesione"
                            ng-options="r.nombreProfesion for r in profesiones" class="form-control"
                            ng-required="true"
                            class="form-control">
                        <!--<option value="">-- Seleccione el concepto --</option>-->
                        <option value="" ng-hide="empleado.profesione">Seleccione Profesion</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="cantidadHijos" class="col-md-4 control-label">Cant Hijos</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="empleado.cantidadHijos" name="cantidadHijos" ng-required="true">
                </div>
            </div>
            <div class="form-group" style="margin-top:10px;margin-bottom:10px;">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <button ng-click="guardar()" ng-disabled="empleadoForm.$invalid" class="btn btn-default">
                            <span ng-show="empleado.empleadoID == null">Cargar</span>
                            <span ng-show="empleado.empleadoID != null">
                                Editar Nro: {{empleado.empleadoID}}
                            </span>
                        </button>
                        <button ng-click="nuevoParaCargar()" class="btn btn-default">
                            Nuevo
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">Aviso</div>
                        <div class="panel-body">
                            {{mensajeDelServidor}}
                        </div>
                    </div>
                </div>
            </div>
            @*<pre>{{empleado | json}}</pre>*@
        </form>
    </div>
</div>
