<div class="row" ng-controller="listadoEmpleadosCtrl" ng-cloak style="margin-top:25px;">
    <h2>Listado Empleados {{empleados.length}}</h2>
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th colspan="2">Acciones</th>
                    <th>ID</th>
                    <th>Foto/Ci</th>
                    <th>Nombre</th>
                    <th>Fecha Nac.</th>
                    <th ng-hide="mostrarFormCargaEmpleado">Nro Cedula</th>
                    <th ng-hide="mostrarFormCargaEmpleado">Estado Civil</th>
                    <th ng-hide="mostrarFormCargaEmpleado">Nacionalidad</th>
                    <th ng-hide="mostrarFormCargaEmpleado">Profesion</th>
                    <th ng-hide="mostrarFormCargaEmpleado">Cant. Hijos</th>
                    <th>Historicos</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="o in empleados">
                    <td class="text-center"><button title="Actualizar" class="btn btn-warning btn-sm" ng-click="actualizar(o)"> <i class="glyphicon glyphicon-edit" /></button></td>
                    <td class="text-center"><button title="Eliminar" class="btn btn-danger btn-sm" ng-click="eliminar(o)"><i class=" glyphicon glyphicon-remove" /></button></td>
                    <td>{{o.empleadoID}}</td>
                    <td>
                        <a href="@Url.Action("ImprimirCedula","Empleados")/{{o.empleadoID}}" target="_blank">
                            <img class="img-responsive img-thumbnail" ng-src="@Href("~/api/Imagenes")?empleadoID={{o.empleadoID}}&tipoImagenID=1" alt="Foto" style="max-height:40px;" />
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Resumen","Empleados")/{{o.empleadoID}}">
                            {{o.nombres}} {{o.apellidos}}
                        </a>
                    </td>
                    <td>{{o.fechaNacimiento | date:"dd/MM/yyyy"}}</td>
                    <td ng-hide="mostrarFormCargaEmpleado">{{o.nroCedula}}</td>
                    <td ng-hide="mostrarFormCargaEmpleado">{{o.estadoCivile.nombreEstadoCivil}}</td>
                    <td ng-hide="mostrarFormCargaEmpleado">{{o.nacionalidade.nombreNacionalidad}}</td>
                    <td ng-hide="mostrarFormCargaEmpleado">{{o.profesione.nombreProfesion}}</td>
                    <td ng-hide="mostrarFormCargaEmpleado">{{o.cantidadHijos}}</td>
                    <td class="text-center"><a title="Actualizar" target="_blank" href="@Url.Action("Historicos","Empleados")/{{o.empleadoID}}" class="btn btn-warning btn-sm"> <i class="glyphicon glyphicon-new-window" /></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    @*<pre>{{empleados | json}}</pre>*@
</div>

@*////////////////////////////////////////////////////////////////////
    //////////////////////TEMPLETE DE LOS MODALES////////////////////////*@
<script type="text/ng-template" id="ModalEliminacionEmpleado.html">
    <div class="modal-header">
        <h3 class="modal-title">{{objeto.mensaje}} {{objeto.id}}</h3>
        <p class="text-muted">Esta seguro?</p>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-striped">
            <tr>
                <th>ID</th>
                <td>{{empleado.empleadoID}}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{empleado.nombres}}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{empleado.apellidos}}</td>
            </tr>
        </table>
        {{respuesta.mensajeDelProceso}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-link" ng-click="cancel()" id="btn_cancelar">Salir</button>
        <button class="btn btn-primary" ng-click="ok()" id="btn_save">Eliminar</button>
    </div>
</script>