
@{
    ViewBag.Title = "GenerarArchivos";
}
@section scripts{
    <!-- Library Scripts -->
    <script src="~/Scripts/checklist-model.js"></script> @*https://github.com/vitalets/checklist-model*@
    @*<script src="~/Scripts/underscore.min.js"></script>*@
    <!-- Application Script -->
    <script src="~/Areas/Mtess/app/app.js"></script>
    <!-- Domain Classes -->
    <!-- DTO -->
    <script src="~/Areas/Mtess/app/dto/empleadoYobreroDto.js"></script>
    <!-- Services -->
    <script src="~/Areas/Mtess/app/common/common.services.js"></script>
    <script src="~/Areas/Mtess/app/common/dataAccessService.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('common.services')
                .service('syjPath', syjPath);

            syjPath.$inject = [];

            function syjPath() {
                var empleadosYobreros = "@Href("~/api/EmpleadosYobreros")";
                return {
                    "empleadosYobreros": empleadosYobreros
                }
            }
        })();
    </script>
    @*Controllers*@
    <script src="~/Areas/Mtess/app/InicioMtess/generarArchivos/empleadosYobrerosCtrl.js"></script>

}
<h2>GenerarArchivos</h2>
<div class="container" ng-controller="EmpleadosYobrerosCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <p>Archivo de Empleados y obreros</p>
            <button class="btn btn-primary" ng-click="vm.traerEmpleadosYobreros()">
                Generar
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-striped">
                <tr>
                    <th>NroPatronal</th>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Sexo</th>
                    <th>EstadoCivil</th>
                    <th>FechaNac</th>
                    <th>Nacionalidad</th>
                    <th>Domicilio</th>
                    <th>FechaNacMenor</th>
                    <th>HijosMenores</th>
                    <th>Cargo</th>
                    <th>Profesion</th>
                    <th>FechaEntrada</th>
                    <th>HorarioTrabajo</th>
                    <th>Menorescapa</th>
                    <th>Menorescolar</th>
                    <th>FechaSalida</th>
                    <th>MotivosSalida</th>
                    <th>Estado</th>
                </tr>
                <tr ng-repeat="e in vm.listadoEmpleadoYobrero">
                    <td>{{e.nroPatronal}}</td>
                    <td>{{e.documento}}</td>
                    <td>{{e.nombre}}</td>
                    <td>{{e.apellido}}</td>
                    <td>{{e.sexo}}</td>
                    <td>{{e.estadoCivil}}</td>
                    <td>{{e.fechaNac | date:"dd/MM/yyyy":"UTC"}}</td>
                    <td>{{e.nacionalidad}}</td>
                    <td>{{e.domicilio}}</td>
                    <td>{{e.fechaNacMenor}}</td>
                    <td>{{e.hijosMenores}}</td>
                    <td>{{e.cargo}}</td>
                    <td>{{e.profesion}}</td>
                    <td>{{e.fechaEntrada}}</td>
                    <td>{{e.horarioTrabajo}}</td>
                    <td>{{e.menorEscapa}}</td>
                    <td>{{e.menorEsEscolar}}</td>
                    <td>{{e.fechaSalida}}</td>
                    <td>{{e.motivoSalida}}</td>
                    <td>{{e.estado}}</td>
                </tr>
            </table>
            <pre>{{vm.listadoEmpleadoYobrero | json}}</pre>
        </div>
    </div>
</div>
