
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>MINISTERIO DE TRABAJO, EMPLEO Y SEGURIDAD SOCIAL</h2>
    <p class="lead">Esta es la seccion en donde se prepara los archivos en formato cvs para presentarlo electronicamente al MTESS</p>
    <p>Para generar los archivos haga click aqui</p>
</div>
<div class="row">
        <div class="col-md-4">
            <h2>Sistema de presentacion</h2>
            <p>El MTESS tiene su propio sitio en donde presenta informacion detallada acerca de su sistema de presentaciones</p>
            <p><a class="btn btn-default" href="https://regobpat.mtess.gov.py/inicio.html#acercade"  target="_blank">Ver mas &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Archivos a presentar</h2>
            <p>
                <ul>
                    <li>Empleados y Obreros</li>
                    <li>Resumen General</li>
                    <li>Sueldos y Jornales</li>
                </ul>
            </p>
            <p><a class="btn btn-default" href="https://regobpat.mtess.gov.py/inicio.html#presentaciones" target="_blank">Ver mas &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Sistema de consultas al MTESS</h2>
            <p>Atraves de este sistema se puede hacer consultas al MTESS</p>
            <p><a class="btn btn-default" href="http://consultas.mtess.gov.py/"  target="_blank">Ver mas &raquo;</a></p>
        </div>
    </div>

