<div [class]="classPanel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <b>Prestamo numero:</b> {{prestamoSimple.prestamoSimpleID}} -
      <b>Monto:</b> {{prestamoSimple.monto | number}}
      <b style="text-decoration:underline">{{tituloPrestamo}}</b>
      <span style="float: right;">
         <b>Cuotas</b>  <span class="badge">{{prestamoSimple.cuotas}}</span>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <p-messages [(value)]="msgs"></p-messages>
    <div>{{prestamoSimple.observacion}}</div>

    <p-dataTable [value]="prestamoSimple.cuotasMov"  [editable]="true" (onEditInit)="onEditInit($event.data)">
      <p-column field="movEmpleadoDetID" header="ID" [editable]="false" [style]="{'text-align':'center'}"></p-column>
      <p-column field="debito" header="Monto" [editable]="true" [style]="{'text-align':'center'}" >
        <ng-template let-col let-cuota="rowData" pTemplate="body">
          {{cuota[col.field]| number }}
        </ng-template>
        <ng-template let-col let-cuota="rowData" pTemplate="editor">
          <input type="number" pInputText [(ngModel)]="cuota[col.field]" [style]="{'text-align':'center'}" (change)="onChangeInput(cuota)" />
        </ng-template>
      </p-column>
       <p-column field="saldo" header="Saldo" [editable]="false" [style]="{'text-align':'center'}">
        <ng-template let-col let-cuota="rowData" pTemplate="body">
          {{cuota[col.field]| number }}
        </ng-template>        
      </p-column>
      <p-column field="mesAplicacion" header="mesAplicacion" [editable]="false" [style]=" {'overflow':'visible','text-align':'center' }">
        <ng-template let-col let-cuota="rowData" pTemplate="body">
          {{cuota[col.field]|date:"MMM/yyyy":"UTC" }}
        </ng-template>
        <!--<ng-template let-col let-cuota="rowData" pTemplate="editor">
          <p-calendar [(ngModel)]="cuota[col.field]" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2015:2030"></p-calendar>
        </ng-template>-->
      </p-column>
      <p-column field="movEmpleadoIDdeLaLiquidacion" header="LiquidacionID" [editable]="false" [style]="{'text-align':'center'}"></p-column>
    </p-dataTable>
    <button pButton type="button" label="Guardar Cambios" (click)="onGuardarCambios()" [disabled]="desabilitarBoton"></button>
    <!--<pre>{{prestamoSimple | json}}</pre>-->
  </div>
</div>