<div class="row">
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Cargar Comisiones</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-controller="comisionesCtrl as vm" name="comisionesForm" ng-cloak>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="fechaComision" class="col-md-4 control-label">Fecha Comision</label>
                            <div class="col-md-8">
                                <p class="input-group">
                                    <input type="date" id="fechaComision"
                                           name="fechaComision"
                                           class="form-control"
                                           ng-model="vm.comisione.fechaComision"
                                           ng-required="true" />
                                </p>
                                <div style="color:red" ng-show="comisionesForm.fechaComision.$dirty && comisionesForm.fechaComision.$invalid">
                                    <span ng-show="comisionesForm.fechaComision.$error.date">No es un formato valido</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="montoComision" class="col-md-4 control-label">Monto</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="vm.comisione.montoComision" name="montoComision" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label for="observacion" class="col-md-3 control-label">Observacion</label>-->
                            <div class="col-md-12">
                                <textarea class="form-control" style="max-width:100%;"
                                          ng-model="vm.comisione.observacion"
                                          rows="5"
                                          placeholder="Cargar la observacion..."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button ng-click="vm.guardar()" ng-disabled="comisionesForm.$invalid" class="btn btn-default">
                                    <span ng-show="vm.comisione.comisionID == null">Cargar</span>
                                    <span ng-show="vm.comisione.comisionID != null">Editar Comision ID: {{vm.comisione.comisionID}}</span>
                                </button>
                                <button ng-click="vm.nuevoParaCargar()" class="btn btn-default">
                                    Nuevo
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">Aviso</div>
                                <div class="panel-body">
                                    {{vm.mensajeDelServidor}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <pre>{{vm.comisione | json}}</pre>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">

    </div>
</div>