<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Cargar Direccion</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-controller="historicoDireccionCtrl as vm" name="historicoDireccionForm" ng-cloak>
                    <div class="col-md-12">
                        @*<input type="text" class="form-control" ng-model="vm.historicoDireccion.empleadoID" name="empleadoID" ng-required="true">*@
                        <div class="form-group">
                            <!--<label for="observacion" class="col-md-3 control-label">Observacion</label>-->
                            <div class="col-md-12">
                                <textarea class="form-control" style="max-width:100%;"
                                          ng-model="vm.historicoDireccion.direccion"
                                          rows="5"
                                          placeholder="Cargar la direccion..."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button ng-click="vm.guardar()" ng-disabled="historicoDireccionForm.$invalid" class="btn btn-default">
                                    <span ng-show="vm.historicoDireccion.historicoDireccionID == null">Cargar</span>
                                    <span ng-show="vm.historicoDireccion.historicoDireccionID != null">Editar Cargo ID: {{vm.historicoDireccion.historicoDireccionID}}</span>
                                </button>
                                <button ng-click="vm.nuevoParaCargar()" class="btn btn-default">
                                    Nuevo
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">Aviso</div>
                                <div class="panel-body">
                                    {{vm.mensajeDelServidor}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <pre>
    {{vm.historicoDireccion | json}}
    </pre>            
                </form>
            </div>
        </div>
    </div>
</div>
