<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Cargar Direccion</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-controller="historicoDireccionCtrl as vm" name="historicoDireccionForm" ng-cloak>
                    <div class="col-md-12">
                        @*<input type="text" class="form-control" ng-model="vm.historicoDireccion.empleadoID" name="empleadoID" ng-required="true">*@
                        <div class="form-group">
                            <!--<label for="observacion" class="col-md-3 control-label">Observacion</label>-->
                            <div class="col-md-12">
                                <textarea class="form-control" style="max-width:100%;"
                                          ng-model="vm.historicoDireccion.direccion"
                                          rows="5"
                                          placeholder="Cargar la direccion..."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button ng-click="vm.guardar()" ng-disabled="historicoDireccionForm.$invalid" class="btn btn-default">
                                    <span ng-show="vm.historicoDireccion.historicoDireccionID == null">Cargar</span>
                                    <span ng-show="vm.historicoDireccion.historicoDireccionID != null">Editar Cargo ID: {{vm.historicoDireccion.historicoDireccionID}}</span>
                                </button>
                                <button ng-click="vm.nuevoParaCargar()" class="btn btn-default">
                                    Nuevo
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">Aviso</div>
                                <div class="panel-body">
                                    {{vm.mensajeDelServidor}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <pre>
    {{vm.historicoDireccion | json}}
    </pre>            
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <h2>Listado de Usuarios</h2>
        <div class="row" ng-controller="listadoHistoricoDireccionesCtrl as vm" ng-cloak style="margin-top:25px;">
            <div class="col-md-12">
                <table class="table table-bordered table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th colspan="2">Acciones</th>
                            <th>ID</th>
                            <th>Direccion</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="o in vm.historicoDirecciones">
                            <td><button title="Actualizar" class="btn btn-warning btn-sm" ng-click="vm.actualizar(o)"> <i class="glyphicon glyphicon-edit" /></button></td>
                            <td><button title="Eliminar" class="btn btn-danger btn-sm" ng-click="vm.eliminar(o)"><i class=" glyphicon glyphicon-remove" /></button></td>
                            <td>{{o.historicoDireccionID}}</td>
                            <td>{{o.direccion}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pre>{{vm.historicoDirecciones | json}}</pre>
        </div>
    </div>
</div>
