<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Horarios</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-controller="historicoHorariosCtrl as vm" name="historicoHorariosForm" ng-cloak>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label">Mañana</label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="horaEntradaManana" class="col-md-4 control-label">Entrada</label>
                                <div class="col-md-8">
                                    <p class="input-group">
                                        <input type="time" id="horaEntradaManana"
                                               name="horaEntradaManana"
                                               class="form-control"
                                               ng-model="vm.historicoHorario.horaEntradaManana"
                                               ng-required="false"
                                               min="00:00:00"
                                               placeholder="HH:mm:ss" />
                                        @*<timepicker ng-model="vm.historicoHorario.horaEntradaManana" ng-change="changed()"
                                            hour-step="1" minute-step="15" show-meridian="false"></timepicker>*@
                                    </p>
                                    <div style="color:red" ng-show="historicoHorariosForm.horaEntradaManana.$dirty && historicoHorariosForm.horaEntradaManana.$invalid">
                                        <span ng-show="historicoHorariosForm.horaEntradaManana.$error.date">No es un formato valido</span>
                                    </div>
                                    <span style="color:red" ng-show="historicoHorariosForm.horaEntradaManana.$error.min">
                                        Fuera de rango
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="horaSalidaManana" class="col-md-4 control-label">Salida</label>
                                <div class="col-md-8">
                                    <p class="input-group">
                                        <input type="time" id="horaSalidaManana"
                                               name="horaSalidaManana"
                                               class="form-control"
                                               ng-model="vm.historicoHorario.horaSalidaManana"
                                               ng-required="false"
                                               placeholder="HH:mm:ss" />
                                    </p>
                                    <div style="color:red" ng-show="historicoHorariosForm.horaSalidaManana.$dirty && historicoHorariosForm.horaSalidaManana.$invalid">
                                        <span ng-show="historicoHorariosForm.horaSalidaManana.$error.date">No es un formato valido</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label">Tarde</label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="horaEntradaTarde" class="col-md-4 control-label">Entrada</label>
                                <div class="col-md-8">
                                    <p class="input-group">
                                        <input type="time" id="horaEntradaTarde"
                                               name="horaEntradaTarde"
                                               class="form-control"
                                               ng-model="vm.historicoHorario.horaEntradaTarde"
                                               ng-required="false" min="12:00:00"
                                               placeholder="HH:mm:ss" />
                                    </p>
                                    <div style="color:red" ng-show="historicoHorariosForm.horaEntradaTarde.$dirty && historicoHorariosForm.horaEntradaTarde.$invalid">
                                        <span ng-show="historicoHorariosForm.horaEntradaTarde.$error.date">No es un formato valido</span>
                                    </div>
                                    <span style="color:red" ng-show="historicoHorariosForm.horaEntradaTarde.$error.min">
                                        Fuera de rango
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="horaSalidaTarde" class="col-md-4 control-label">Salida</label>
                                <div class="col-md-8">
                                    <p class="input-group">
                                        <input type="time" id="horaSalidaTarde"
                                               name="horaSalidaTarde"
                                               class="form-control"
                                               ng-model="vm.historicoHorario.horaSalidaTarde"
                                               ng-required="false"
                                               placeholder="HH:mm:ss" />
                                    </p>
                                    <div style="color:red" ng-show="historicoHorariosForm.horaSalidaTarde.$dirty && historicoHorariosForm.horaSalidaTarde.$invalid">
                                        <span ng-show="historicoHorariosForm.horaSalidaTarde.$error.date">No es un formato valido</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label">Noche</label>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="horaEntradaNoche" class="col-md-4 control-label">Entrada</label>
                                <div class="col-md-8">
                                    <p class="input-group">
                                        <input type="time" id="horaEntradaNoche"
                                               name="horaEntradaNoche"
                                               class="form-control"
                                               ng-model="vm.historicoHorario.horaEntradaNoche"
                                               ng-required="false" min="17:00:00"
                                               placeholder="HH:mm:ss" />
                                    </p>
                                    <div style="color:red" ng-show="historicoHorariosForm.horaEntradaNoche.$dirty && historicoHorariosForm.horaEntradaNoche.$invalid">
                                        <span ng-show="historicoHorariosForm.horaEntradaNoche.$error.date">No es un formato valido</span>
                                    </div>
                                    <span style="color:red" ng-show="historicoHorariosForm.horaEntradaNoche.$error.min">
                                        Fuera de rango
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="horaSalidaNoche" class="col-md-4 control-label">Salida</label>
                                <div class="col-md-8">
                                    <p class="input-group">
                                        <input type="time" id="horaSalidaNoche"
                                               name="horaSalidaNoche"
                                               class="form-control"
                                               ng-model="vm.historicoHorario.horaSalidaNoche"
                                               ng-required="false" />
                                    </p>
                                    <div style="color:red" ng-show="historicoHorariosForm.horaSalidaNoche.$dirty && historicoHorariosForm.horaSalidaNoche.$invalid">
                                        <span ng-show="historicoHorariosForm.horaSalidaNoche.$error.date">No es un formato valido</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button ng-click="vm.guardar()"
                                            ng-disabled="historicoHorariosForm.$invalid" class="btn btn-default">
                                        <span ng-show="vm.historicoHorario.historicoHorarioID == null">Cargar</span>
                                        <span ng-show="vm.historicoHorario.historicoHorarioID != null">Editar Horario ID: {{vm.historicoHorario.historicoHorarioID}}</span>
                                    </button>
                                    <button ng-click="vm.nuevoParaCargar()" class="btn btn-default">
                                        Nuevo
                                    </button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">Aviso</div>
                                        <div class="panel-body">
                                            {{vm.mensajeDelServidor}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<pre>.toUTCString() :{{vm.historicoHorario.horaEntradaManana.toUTCString()}}</pre>*@
                    @*<pre>.toISOString(): {{vm.historicoHorario.horaEntradaManana.toISOString()}}</pre>*@
                    @*<pre>.toTimeString() :{{vm.historicoHorario.horaEntradaManana.toTimeString()}}</pre>*@
                    @*<pre>.getUTCHours() :{{vm.historicoHorario.horaEntradaManana.getUTCHours()}}</pre>*@
                    @*<pre>.getHours() :{{vm.historicoHorario.horaEntradaManana.getHours()}}</pre>*@
                    @*<pre>.getUTCMinutes() :{{vm.historicoHorario.horaEntradaManana.getUTCMinutes()}}</pre>*@
                    @*<pre>.toJSON() :{{vm.historicoHorario.horaEntradaManana.toJSON()}}</pre>*@
                    @*<pre>.getTimezoneOffset() :{{vm.historicoHorario.horaEntradaManana.getTimezoneOffset()}}</pre>*@
                    @*<pre>{{vm.historicoHorario | json}}</pre>*@
                    @*<pre>{{historicoHorariosForm.horaEntradaManana.$error | json}}</pre>*@
                    @*<pre>{{vm.historicoHorario.horaEntradaManana | date:"HH:mm:ss"}}</pre>
                        <hr />
                        <pre>{{vm.hora}}</pre>*@
                    @*<pre>{{historicoHorariosForm | json}}</pre>*@

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Listado de salarios</h2>
        <div class="row" ng-controller="listadoHistoricoHorariosCtrl as vm" ng-cloak style="margin-top:25px;">
            <div class="col-md-12">
                <table class="table table-condensed table-bordered table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2" rowspan="2">Acciones</th>
                            <th rowspan="2">Id</th>
                            <th colspan="2" class="text-center">Mañana</th>
                            <th style="background-color:#63859d;" colspan="2" class="text-center">Tarde</th>
                            <th colspan="2" class="text-center">Noche</th>
                        </tr>
                        <tr>
                            <th>Entrada</th>
                            <th>Salida</th>
                            <th>Entrada</th>
                            <th>Salida</th>
                            <th>Entrada</th>
                            <th>Salida</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="o in vm.historicoHorarios">
                        <td><button title="Actualizar" class="btn btn-warning btn-sm" ng-click="vm.actualizar(o)"> <i class="glyphicon glyphicon-edit" /></button></td>
                        <td><button title="Eliminar" class="btn btn-danger btn-sm" ng-click="vm.eliminar(o)"><i class=" glyphicon glyphicon-remove" /></button></td>
                        <td>{{o.historicoHorarioID}}</td>
                        <td>{{o.horaEntradaManana | date:"HH:mm"}}</td>
                        <td>{{o.horaSalidaManana | date:"HH:mm"}}</td>
                        <td style="background-color:#63859d;">{{o.horaEntradaTarde | date:"HH:mm"}}</td>
                        <td style="background-color:#63859d;">{{o.horaSalidaTarde | date:"HH:mm"}}</td>
                        <td>{{o.horaEntradaNoche | date:"HH:mm"}}</td>
                        <td>{{o.horaSalidaNoche | date:"HH:mm"}}</td>
                    </tr>
                </table>
            </div>
            @*<pre>{{vm.historicoHorarios | json}}</pre>*@
        </div>
    </div>
</div>
@*////////////////////////////////////////////////////////////////////
    //////////////////////TEMPLETE DE LOS MODALES////////////////////////*@

<script type="text/ng-template" id="ModalEliminacionHorarios.html">
    <div class="modal-header">
        <h3 class="modal-title">{{objeto.mensaje}} {{objeto.id}}</h3>
        <p class="text-muted">Esta seguro?</p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-striped table-bordered table-hover">
                    <caption>ID: {{historicoHorario.historicoHorarioID}}</caption>
                    <tr>
                        <th>Turno</th>
                        <td>Entrada</td>
                        <td>Salida</td>
                    </tr>
                    <tr>
                        <th>Mañana</th>
                        <td>{{historicoHorario.horaEntradaManana | date:"HH:mm"}}</td>
                        <td>{{historicoHorario.horaSalidaManana | date:"HH:mm"}}</td>
                    </tr>
                    <tr>
                        <th>Tarde</th>
                        <td>{{historicoHorario.horaEntradaTarde | date:"HH:mm"}}</td>
                        <td>{{historicoHorario.horaSalidaTarde | date:"HH:mm"}}</td>
                    </tr>
                    <tr>
                        <th>Noche</th>
                        <td>{{historicoHorario.horaEntradaNoche | date:"HH:mm"}}</td>
                        <td>{{historicoHorario.horaSalidaNoche | date:"HH:mm"}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-show="respuesta.mensajeDelProceso != null" class="alert alert-info">
            {{respuesta.mensajeDelProceso}}
        </div>
        @*<pre>
            {{historicoHorario | json}}
            </pre>*@

    </div>
    <div class="modal-footer">
        <button class="btn btn-link" ng-click="cancel()" id="btn_cancelar">Salir</button>
        <button class="btn btn-primary" ng-click="ok()" id="btn_save">Eliminar</button>
    </div>
</script>