<div class="row">
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Ingresos y salidas</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-controller="historicoIngresoSalidasCtrl as vm" name="historicoIngresoSalidasForm" ng-cloak>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="fechaIngreso" class="col-md-4 control-label">Fecha Ingreso</label>
                            <div class="col-sm-8">
                                <p class="input-group">
                                    <input type="date" id="fechaIngreso"
                                           name="fechaIngreso"
                                           class="form-control"
                                           ng-model="vm.historicoIngresoSalida.fechaIngreso"
                                           ng-required="true" />
                                </p>
                                <div style="color:red" ng-show="historicoIngresoSalidasForm.fechaIngreso.$dirty && historicoIngresoSalidasForm.fechaIngreso.$invalid">
                                    <span ng-show="historicoIngresoSalidasForm.fechaIngreso.$error.date">No es un formato valido</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fechaIngreso" class="col-md-4 control-label">Fecha Salida</label>
                            <div class="col-sm-8">
                                <p class="input-group">
                                    <input type="date" id="fechaSalida"
                                           name="fechaSalida"
                                           class="form-control"
                                           ng-model="vm.historicoIngresoSalida.fechaSalida"
                                           ng-required="false" />
                                </p>
                                <div style="color:red" ng-show="historicoIngresoSalidasForm.fechaSalida.$dirty && historicoIngresoSalidasForm.fechaSalida.$invalid">
                                    <span ng-show="historicoIngresoSalidasForm.fechaSalida.$error.date">No es un formato valido</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button ng-click="vm.guardar()" ng-disabled="historicoIngresoSalidasForm.$invalid" class="btn btn-default">
                                    <span ng-show="vm.historicoIngresoSalida.historicoIngresoSalidaID == null">Cargar</span>
                                    <span ng-show="vm.historicoIngresoSalida.historicoIngresoSalidaID != null">Editar I/S ID: {{vm.historicoIngresoSalida.historicoIngresoSalidaID}}</span>
                                </button>
                                <button ng-click="vm.nuevoParaCargar()" class="btn btn-default">
                                    Nuevo
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">Aviso</div>
                                <div class="panel-body">
                                    {{vm.mensajeDelServidor}}
                                </div>
                            </div>
                        </div>
                        @*<pre>{{vm.historicoIngresoSalida | json}}</pre>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <h2>Listado de ingresos y salidas</h2>
        <div class="row" ng-controller="listadoHistoricoIngresoSalidasCtrl as vm" ng-cloak style="margin-top:25px;">
            <div class="col-md-12">
                <table class="table table-condensed table-bordered table-bordered table-hover">
                    <thead>
                        <tr>
                            <th colspan="2">Acciones</th>
                            <th>Id</th>
                            <th>Fecha Ingreso</th>
                            <th>Fecha Salida</th>                          
                        </tr>
                    </thead>
                    <tr ng-repeat="o in vm.historicoIngresoSalidas">
                        <td><button title="Actualizar" class="btn btn-warning btn-sm" ng-click="vm.actualizar(o)"> <i class="glyphicon glyphicon-edit" /></button></td>
                        <td><button title="Eliminar" class="btn btn-danger btn-sm" ng-click="vm.eliminar(o)"><i class=" glyphicon glyphicon-remove" /></button></td>
                        <td>{{o.historicoIngresoSalidaID}}</td>
                        <td>{{o.fechaIngreso | date:"dd/MM/yyyy"}}</td>
                        <td>{{o.fechaSalida | date:"dd/MM/yyyy"}}</td>                    
                    </tr>
                </table>
            </div>
            @*<pre>{{vm.historicoIngresoSalidas | json}}</pre>*@
        </div>
    </div>
</div>
@*////////////////////////////////////////////////////////////////////
    //////////////////////TEMPLETE DE LOS MODALES////////////////////////*@

<script type="text/ng-template" id="ModalEliminacionHistoricoIngresoSalida.html">
    <div class="modal-header">
        <h3 class="modal-title">{{objeto.mensaje}} {{objeto.id}}</h3>
        <p class="text-muted">Esta seguro?</p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-striped">
                    <tr>
                        <th>ID</th>
                        <td>{{historicoIngresoSalida.historicoIngresoSalidaID}}</td>
                    </tr>
                    <tr>
                        <th>Fecha Ingreso</th>
                        <td>{{historicoIngresoSalida.fechaIngreso | date:"dd/MM/yyyy"}}</td>
                    </tr>
                    <tr>
                        <th>Fecha Salida</th>
                        <td>{{historicoIngresoSalida.fechaSalida | date:"dd/MM/yyyy"}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-show="respuesta.mensajeDelProceso != null" class="alert alert-info">
            {{respuesta.mensajeDelProceso}}
        </div>
        @*<pre>
    {{historicoIngresoSalida | json}}
    </pre>*@

    </div>
    <div class="modal-footer">
        <button class="btn btn-link" ng-click="cancel()" id="btn_cancelar">Salir</button>
        <button class="btn btn-primary" ng-click="ok()" id="btn_save">Eliminar</button>
    </div>
</script>
