<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Cargar Salario</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-controller="historicoSalariosCtrl as vm" name="historicoSalariosForm" ng-cloak>
                    <div class="col-md-12">
                        <div class="form-group">
                            <!--<label for="observacion" class="col-md-3 control-label">Observacion</label>-->
                            <div class="col-md-12">
                                <textarea class="form-control" style="max-width:100%;"
                                          ng-model="vm.historicoSalario.direccion"
                                          rows="5"
                                          placeholder="Cargar la observacion..."></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button ng-click="vm.guardar()" ng-disabled="historicoSalariosForm.$invalid" class="btn btn-default">
                                    <span ng-show="vm.historicoSalario.historicoSalarioID == null">Cargar</span>
                                    <span ng-show="vm.historicoSalario.historicoSalarioID != null">Editar Salario ID: {{vm.historicoSalario.historicoSalarioID}}</span>
                                </button>
                                <button ng-click="vm.nuevoParaCargar()" class="btn btn-default">
                                    Nuevo
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">Aviso</div>
                                <div class="panel-body">
                                    {{vm.mensajeDelServidor}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <pre>
    {{vm.historicoSalario | json}}
    </pre>
                </form>
            </div>
        </div>
    </div>
</div>